<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:simple="http://github.org/chengzhx76/schema/simple"
        xsi:schemaLocation="
	        http://www.springframework.org/schema/beans 
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://github.org/chengzhx76/schema/simple
	        http://github.org/chengzhx76/schema/simple.xsd">

  <simple:people id="zhangsan" name="张三"/>

</beans>